:root {
	--font-body: Inter, system-ui, sans-serif;

	/*
	    Color theme:
	    https://www.realtimecolors.com/?colors=0a0a1b-f7f7fc-4e4bbd-d9d498-7fcb71&fonts=Inter-Inter
	*/
	--text-color: #0a0a1b;
	--background-color: #f7f7fc;
	--primary-color: #4e4bbd;
	--secondary-color: #d9d498;
	--accent-color: #7fcb71;
}

body {
	font-family: var(--font-body);
	color: var(--text-color);
	background-color: var(--background-color);
	accent-color: var(--accent-color);
}
