:root {
	--font-body: Inter, system-ui, sans-serif;
	--page-margin: 0.875rem;
	--page-padding: 1rem;
	--border-1px: 1px solid var(--background-color-200);

	/*
	    Color theme:
	    https://www.realtimecolors.com/?colors=04120c-fafefd-30d395-898ee6-9357db&fonts=Inter-Inter
	*/
	--text-color: #04120c;
	--background-color: #fafefd;
	--primary-color: #30d395;
	--secondary-color: #898ee6;
	--accent-color: #9357db;

	--text-color-50: #eafaf3;
	--text-color-100: #d5f6e8;
	--text-color-200: #abedd0;
	--text-color-300: #82e3b9;
	--text-color-400: #58daa2;
	--text-color-500: #2ed18a;
	--text-color-600: #25a76f;
	--text-color-700: #1c7d53;
	--text-color-800: #125437;
	--text-color-900: #092a1c;
	--text-color-950: #05150e;

	--background-color-50: #eafbf7;
	--background-color-100: #d4f7ee;
	--background-color-200: #aaeedd;
	--background-color-300: #7fe6cc;
	--background-color-400: #55ddbb;
	--background-color-500: #2ad5aa;
	--background-color-600: #22aa88;
	--background-color-700: #198066;
	--background-color-800: #115544;
	--background-color-900: #082b22;
	--background-color-950: #041511;

	--primary-color-50: #eafbf4;
	--primary-color-100: #d5f6e9;
	--primary-color-200: #abedd4;
	--primary-color-300: #81e4be;
	--primary-color-400: #57dba8;
	--primary-color-500: #2dd293;
	--primary-color-600: #24a875;
	--primary-color-700: #1b7e58;
	--primary-color-800: #12543b;
	--primary-color-900: #092a1d;
	--primary-color-950: #04150f;

	--secondary-color-50: #eaebfb;
	--secondary-color-100: #d5d7f6;
	--secondary-color-200: #abaeed;
	--secondary-color-300: #8186e4;
	--secondary-color-400: #575ddb;
	--secondary-color-500: #2d35d2;
	--secondary-color-600: #242aa8;
	--secondary-color-700: #1b207e;
	--secondary-color-800: #121554;
	--secondary-color-900: #090b2a;
	--secondary-color-950: #040515;

	--accent-color-50: #f1eafb;
	--accent-color-100: #e4d5f6;
	--accent-color-200: #c9abed;
	--accent-color-300: #ae81e4;
	--accent-color-400: #9257db;
	--accent-color-500: #772dd2;
	--accent-color-600: #5f24a8;
	--accent-color-700: #481b7e;
	--accent-color-800: #301254;
	--accent-color-900: #18092a;
	--accent-color-950: #0c0415;
}

body {
	margin: 0;
	font-family: var(--font-body);
	font-size: 0.875rem;
	color: var(--text-color);
	background-color: var(--background-color-50);
	accent-color: var(--accent-color);
}

a {
	color: var(--primary-color);
}

a:hover {
	color: var(--primary-color-300);
}
